@import "App";

.preferences-list{
  margin: 40px 0 40px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.preference{
  display: flex;
  gap: 20px;
  h3{
    margin: 0;
  }
}
.preference-image{
  img{
    height: 50px;
  }
}

@media only screen and (max-width: 768px){
  .preferences-list{
    display: block;
  }
  .preference{
    margin: 10px 0;
    padding: 0 10px;
  }
}