.facade-wrap{
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px
}

.facade-img{
  display: inline-block;
  img{
    width: 100%;
    padding-left: 40px;
  }
}
.facade-text{
  display: inline-block;
  padding: 40px;

}