@import "App";

.line{
  display: flex;
  justify-content: space-around;
  background-color: $main-color;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  padding: 30px;
}
.line-contacts{
  font-weight: 500;
}

.line-phone{
  a{
    text-decoration: none;
    color: #fff;
  }
}

@media only screen and (max-width: 768px){
  .line{
    display: block;
  }
  .line-text{
    line-height: 24px;
  }
  .line-contacts{
    text-align: center;
    margin-top: 20px;
  }
}
