@import "App";

.preferences-list{
  margin: 40px 0 40px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.preference{
  display: flex;
  gap: 20px;
  h3{
    margin: 0;
  }
}
.preference-image{
  img{
    height: 50px;
  }
}